* {
    padding: 0;
    margin: 0;
    border: 0;
}

.header {
    height: 130px;
    width: 100%;
    background: #00AEFF;
}

.main-header {
    width: 80%;
    height: 130px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 65px;
    width: 350px;
    background: #009BDD;
}

.banner {
    width: 350px;
    height: 65px;
    background: #36C3FF;
}

.wrapper {
    display: flex;
    width: 80%;
    height: 1000px;
    margin: 0 auto;
}

.aside {
    width: 20%;
    background: #FF5607; 
}

.aside-conteiner {
    width: 76%;
    height: 380px;
    margin: 25px auto 0px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.aside-info {
    width: 100%;
    height: 45px; 
    background: #E84900;
}

.section {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding: 25px 0px 20px 15px; 
}

.main-section-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.section-cover {
    width: 45%;
    height: 300px;
    background: #FFBD00;
}

.first-section-conteiner {
    width: 47%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between; 
}

.section-title {
    background: #9D9D9D;
    width: 100%;
    height: 40px; 
}

.section-description {
    background: #CECECE;
    width: 100%;
    height: 30px;
}

.second-section-conteiner {
    width: 100%;
    height: 610px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.footer {
    width: 100%;
    height: 240px;
    background: #00D169;
    display: flex;
}

.nav {
    width: 63%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container {
    width: 176px;
    height: 170px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    background: #02B15A;
    padding: 10px 0px;
    
}

.nav-container-div {
    width: 73%;
    height: 28px;
    background: #038042;
    margin: 0 auto;
}

@media screen and (max-width: 1240px) {
    
    .main-header {
       width: 95%; 
    }
    
    .wrapper {
        width: 100%;
    }
    
    .section {
        padding: 25px 15px 20px;
    }
    
    .nav {
      width: 80%;  
    }
    
}

@media screen and (max-width: 375px) {
    .main-header {
        width: 90%;
        flex-wrap: wrap;
        align-content: space-evenly;
    }
    
    .logo {
        height: 40px;
    }
    
    .banner {
        height: 40px;
    }
    
    .wrapper {
        flex-direction: column;
        height: 1020px;
    }
    
    .aside {
        width: 100%;
        height: 85px;
    }
    
    .aside-info {
        width: 31%;
        height: 35px;
    }
    
    .aside-info-hide {
        display: none;
    }
    
    .aside-conteiner {
        width: 90%;
        justify-content: space-between;
        height: auto;
        flex-wrap: nowrap;
    }
    
    .section-title {
        height: 30px;

    }
    
    .section-description {
        height: 20px;
    }
    
    .first-section-conteiner {
        width: 95%;
        margin: 20px auto 0;
        height: 230px;
    }
    
    .second-section-conteiner {
        height: 420px;
        width: 95%;
        margin: 20px auto 0;
    }
    
    .section-cover {
        width: 100%;
        height: 220px;
    }
    
    .main-section-container {
        flex-direction: column;
    }
    
    .section {
        width: 100%;
        padding: 0;
        flex-direction: column;
    }
    
    .footer {
        height: auto;
    }
    
    .nav {
        width: 90%;
        flex-wrap: wrap;
        padding: 10px 0;
    }
    
    .nav-container {
        height: 40px;
        width: 100%;
        padding-left: 20px;
        margin: 10px 0;
    }
    
    .nav-container-div {
        width: 60%;
        margin: 5px;
    }
    
    .nav-container-hide {
        display: none;
    }
}